.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
  -webkit-box-shadow: 0px 1px 18px -3px #a6a6a6;
          box-shadow: 0px 1px 18px -3px #a6a6a6;
  position: relative;
  z-index: 1000;
  background-color: white;
}

.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .left .menu {
  margin-right: 1rem;
  display: none;
}

.header .left img {
  max-width: 180px;
  width: 180px;
}

.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right .text {
  font-size: 10px;
  margin-right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .right .text span {
  color: #0047ba;
  font-size: 15px;
  font-weight: 600;
}

.header .right .icons {
  color: #c1bfd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .right .icons .icon {
  margin-right: 1rem;
}

.header .right .icons .bell {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header .right .icons .store {
  text-transform: uppercase;
  color: black;
  font-size: .9rem;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 1350px) {
  .header .left .menu {
    display: block;
  }
}

@media (max-width: 1030px) {
  .header .right .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 850px) {
  .header .right .text {
    display: none;
  }
}

@media (max-width: 560px) {
  .header .right .icons .store {
    display: none;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 1rem 1rem;
  }
  .header .left img {
    max-width: 120px;
    width: 120px;
  }
}
/*# sourceMappingURL=Header.module.css.map */