.accordianCard {
    margin-bottom: 2rem;
}
.accordian{
    background-color:#f7f8fa !important;
    box-shadow: none !important;
    font-size: 1.5rem !important;
    padding: 8px 10px;
    color: #6f727d!important;
    

    .type {
        font-size: 0.9rem;
    }
    
}  
