.profileCard {
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgba(166,166,166,1);
    flex: 1;
    margin-bottom: 2rem;
    max-width: 90vw;

    .top {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(223, 223, 223);

        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            color: #3f4047;
        }
    }

    .data {
        color: #575962;
        padding: 2.2rem;

        p {
            font-weight: 500;
        }
        ul {
            margin: 1rem 0;
            margin-left: 3rem;
            color: #575962;

            li {
                font-size: 0.9rem;
            }
        }
        form {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            margin-left: 2rem;
            .field {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .label {
                    font-size: .9rem;
                    width: 15rem;
                }
                .input {
                    width: 22rem;
                    
                    p {
                        font-size: 0.7rem;
                    }
                }
            }
            input {
                border: none;
                border-radius: 5px;
                border: none;
                padding: 1rem 1.5rem;
                margin: 1rem 0;
                color: #91899f;
                background: #f7f6f9;
                font-size: .9rem;
                width: 22rem;
            }
            input:focus {
                outline: none;
            }
            .password {
                display: flex;
                align-items: center;
                position: relative;
                // width: 22rem;

                input {
                    border: 1px solid #d6d6d6;
                    background-color: white;
                }
            }
            .forget {
                font-weight: 600px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem 1.5rem;
                font-weight: 700px; 
        
                span {
                    display: block;
                    color: #0047ba;
                }
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: #0047ba;
                color: white;
                padding: 1rem 2.5rem;
                cursor: pointer;
                border-radius: 5px;
                font-size: 1rem;
                margin-top: 2rem;
            }
            button:hover {
                background-color: #133ba0;
            }
            button:focus {
                outline: none;
            }
            

        }
    }
}

@media(max-width: 560px){
    .profileCard {
        .data {
            form {
                margin-left: 0;
            }
        }
    }
}

@media(max-width: 470px) {
    .profileCard {
        .data {
            form {
                .password {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}