.faqs .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.faqs .page .pageRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: 10rem;
}

.faqs .page .pageRight main {
  padding: 1.5rem 1.2rem;
  margin-bottom: 4rem;
}

.faqs .page .pageRight main .heading {
  margin: 0 0 2rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.55rem;
  font-weight: 500;
  color: #3f4047;
}

.faqs .page .pageRight main .faqCard {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 0px #a6a6a6;
          box-shadow: 0px 0px 2px 0px #a6a6a6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 2rem;
  width: 100%;
}

.faqs .page .pageRight main .faqCard .top {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.faqs .page .pageRight main .faqCard .top h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #3f4047;
}

.faqs .page .pageRight main .faqCard .top button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #0047ba;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.faqs .page .pageRight main .faqCard .top button:hover {
  background-color: #133ba0;
}

.faqs .page .pageRight main .faqCard .top button:focus {
  outline: none;
}

.faqs .page .pageRight main .faqCard .data {
  color: #898b96;
  padding: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faqs .page .pageRight main .faqCard .data .menu {
  margin-right: 5rem;
  min-width: 14rem;
  max-width: 16rem;
}

.faqs .page .pageRight main .faqCard .data .menu ul {
  list-style: none;
  text-transform: uppercase;
}

.faqs .page .pageRight main .faqCard .data .menu ul li {
  font-size: 0.9rem;
  padding: 0.7rem 1.1rem;
}

.faqs .page .pageRight main .faqCard .data .menu ul .active {
  color: #0047ba;
  background-color: #ebedf2;
  border-radius: 999px;
}

.faqs .page .pageRight main .faqCard .data .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.faqs .page .pageRight main .faqCard .data .accordion h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.faqs .page .pageRight main .faqCard .data .accordion a {
  color: #0047ba;
  font-weight: 800px;
}

.faqs .page .pageRight main .faqCard .data .accordion ul {
  padding: 1rem;
}

@media (max-width: 1000px) {
  .faqs .page .pageRight main .data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faqs .page .pageRight main .data .menu {
    max-width: 100% !important;
    width: 100%;
  }
  .faqs .page .pageRight main .data .accordion {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=faqs.module.css.map */