.return {
    .page {
        display: flex;
        width: 100%;
        .pageRight {
            flex: 1;
            position: relative;

            main {
                padding: 1.5rem 1.2rem;
                margin-bottom: 4rem;

                .head {
                    display: flex;
                    align-items: center;
                    margin: 0 0 2rem 0;

                    .inTransit {
                        background: #ffc212;
                        color: #fff;
                        padding: .6em 1.4em;
                        font-size: .85rem;
                        border-radius: 20px;
                        font-size: 0.8rem;
                        margin-right: 1rem;
                    }

                    .heading {
                        
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.55rem;
                        font-weight: 500;
                        color: #3f4047;
                    }     
                }
                .requestButtons {
                    display: flex;

                    .button {
                        display: flex;
                        align-items: center;
                        color: #333;
                        padding: .5rem 1rem;
                        border: 1px solid #dee2e6;
                        cursor: pointer;

                        .icon {
                            margin-right: 0.7rem;
                        }
                    }
                    .selected {
                        background-color: white;
                    }
                }
            }
        }
    }
}